html, body {
  margin: 0;
}

h1, h2, a {
  
  text-transform: uppercase;
}


.container {
  width: 90%;
  margin: 0 auto;
  display: table;
}

/* Main */
.main {
  text-align: center;
  background: url("banner_background.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
}

.main .container {
  position: relative;
  top: 100px;
}

.main h1 {
  color: #1c1c1c;
  margin: 0;
  font-size: 150px;
}

.main p {
  color: #333333;
  margin: 0 0 20px 0;
  font-size: 18px;
}

.main .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Supporting */
.supporting {
  background-color: #1c1c1c;
  padding: 80px 0 80px;
  text-align: center;
}

.supporting .col {
  float: left;
  padding: 20px;
  width: 32%;
}

.supporting h2 {
  color: #969595;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  font-size: 12px;
  line-height: 20px;
  margin:30px;
  margin-bottom: 40px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
  background: url("recycle.png") no-repeat center center;
  background-size: 400px;
  height: 600px;
  text-align: center;
}

.feature .container {
  position: relative;
  top: 470px;
}

.feature h2 {
  color: #969595;
  font-size: 18px;
  margin:0;
  padding:50px 0 0;
}

/* Footer */
.footer {
  background: url("banner_background.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

.footer .container {
  position: relative;
  top: 200px;
}

.footer h2 {
  color:#969595;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
}

.footer p {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
}

.footer .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

a.btn:hover {
  background:#969595;
  color:#fff;
}