*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body {
	font: 100%/1.5em Helvetica,Arial,sans-serif;
	color:#313131;
}

.container {
	background: #edede1;
	width: 90%;
}
section {width: 60%;
	float: left;
}

aside{
	float: right;
}
footer{ clear: both;

}